<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<ul>
    <li><a th:href="@{/}">Home</a></li>
    <li class="active"><a th:href="@{/allStudents/}">Students</a></li>
    <li><a th:href="@{/allClasses/}">Classes</a></li>
    <li><a th:href="@{/allSchools/}">Schools</a></li>
</ul>
<div class="main">
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Class</th>
        </tr>
        <tr th:each="student: ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.aClass.name}"></td>
            <td><a th:href="@{/deleteStudent(id=${student.id})}">Delete</a></td>
        </tr>
    </table>
    <a th:href="@{/addStudent/}">Create</a>
</div>
</body>
</html>